<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/update_post/">
        <label for="">title</label><br>
        <input type="text" name="title"><br>   

        <label for="">author</label><br>
        <input type ="text" name="author"><br>  

        <label for="">content</label><br>
        <textarea name ="content" id="" cols="30" rows="18"></textarea><br>

        <button>submit</button>
</body>
</html>



