<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/baitap.css">
    <title>dict</title>
</head>
<body>
    <div id="team">
            <a class="team" href="/delete/{{post.id}}"    >delete</a>
            <a class="team" href="/update/{{post.id}}">Update</a>
    </div>
    
    <div id="new_item">
        <h3 class="item">{{post.title}}</h3>
        <div class="item">{{post.author}}</div>
        <img id="new" src="https://i.ytimg.com/vi/_4hKXjfHC2o/maxresdefault.jpg", alt="">
        <p class="item">{{post.contest}}</p>
    </div>
    
    
</body>
</html>



