<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        form method="POST">
        <label for="">title</label><br>
        <input type="text" name="title" value="{{post.title}}"><br>   

        <label for="">author</label><br>
        <input type ="text" name="author" value ="{{post.author}}"><br>  

        <label for="">content</label><br>
        <textarea name ="content" id="" cols="30" rows="18">{{post.content}}</textarea><br>

        <button>submit</button>
</body>
</html>